<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../static/imagestyle.css">
<link rel="stylesheet" href="../static/navigationsettings.css">
<link rel="stylesheet" href="../static/textstyle.css">
<script src="../static/topnav.js"></script>

</head>
<body>

<div class="topnav" id="myTopnav">
  <a href="car.html" class="active">Car</a>
  <a href="home.html">Home</a>
  <a href="music.html">Music</a>
  <a href="about.html">About</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>

<div class="content" style="padding-left:16px">
  <h2>BMW E30</h2>
<img src="../images/car.jpg" class="responsive">
<br>
<br>
	In a joint decision with my boyfriend, we split 50/50 and purchased an E30 BMW in March of 2018 and have been learning the 
	inner workings of the car. This ranges from changing the gears in the odometer to changing out the power steering belt, 
	AC belt, alternator belt, and timing belt, changing out the spark plugs, doing a full fluid flush, and learning how to 
	drive a manual car. It's been an adventure. We've recently switched the bumpers from the aluminum bumpers with the plastic
	trim to the plastic bumpers. <br> <br> Here is a link to my instagram page: <a href="https://www.instagram.com/delilah_e30/">Link to Instagram</a>
	<br> <br> This is a link to download a vectored version of my 1988 325is E30 that I created in my spare time: <a href="../images/e30 325is.pdf" download>Vectored E30</a>
</div>

</body>
</html>
